.fluid{
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
}
button:hover{
    cursor: pointer;
}
.btn--nav{ 
    height: 100%;
    margin:0px 15px;
    color:white; 
    background-color:transparent;
    border:hidden;
}
.btn--login{
    border: 2px solid white;
    padding: 7px 20px;
}
.btn--card{
    background-color:rgb(36, 152, 230);
    color:white;
    font-size: 15px;
    border-radius:0.3rem;
    border:hidden;
    box-shadow:  1px 1px 2px black;
}

